body {
	background: $backdrop-color;
	font-family: $body-font;
	@include antialiased();
}
.warning {
	background: $warning-color;
	p {
		color: #fff;
		margin: 0;
		padding: 0.3em 0.5em;
		text-align: center;
	}
	.js & {
		display: none;
		&.show {
			display: block;
		}
	}
}
.loading-bg {
	cursor: not-allowed;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	.loading-gif {
		background-color: rgba(255,255,255, 0.6);
		display: inline-block;
		height: 40px;
		margin-top: -30px;
		padding: 10px;
		position: absolute;
		top: 50%;
		width: 40px;
		@include rounded(6px);
	}
}
.container {
	margin: auto;
	max-width: 1200px;
	padding: 20px;
}
header {
	background: $primary-dark-color;
	@include stylized-shadow(#000, 3px);
	h1 {
		color: #fff;
		font-family: $display-font;
		font-size: 1rem;
		margin: 0;
		text-align: center;
		@media #{$media-large} {
			font-size: 1.4rem;
		}
		.featured-animal {
			border-bottom: solid 3px $warning-color;
			color: $warning-color;
			display: inline-block;
			font-size: 1.4em;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}
	.show-more-container {
		font-size: 1rem;
		margin-top: 15px;
		text-align: center;
		@media #{$media-large} {
			float: right;
		}
		button {
			background: $action-color;
			border: 0;
			color: #fff;
			font-size: 0.9rem;
			outline: 0;
			padding: 0.6em 0.8em;
			transition: all 0.2s;
			@include rounded(4px);
			@include stylized-shadow(darken($action-color, 20%), 3px);
			&:hover {
				background: darken($action-color, 20%);
				@include stylized-shadow(darken($action-color, 30%), 3px);
			}
			&[disabled="true"] {
				background: $disabled-color;
				cursor: not-allowed;
				opacity: 0.6;
				@include stylized-shadow(darken($disabled-color, 20%), 3px);
			}
			@media #{$media-large} {
				margin-top: 4px;
			}
		}
	}
	.heading-container,
	.show-more-container {
		@media #{$media-large} {
			display: inline-block;
			margin-top: 0;
			vertical-align: middle;
		}
	}
}
.viewing-area {
	.image-display {
		padding: 20px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-right: -2.5%;
		}
		li {
			display: inline-block;
			margin-bottom: 2.5%;
			margin-right: 2.5%;
			opacity: 0;
			text-align: center;
			transition: opacity 0.5s;
			width: 47.5%;
			&.show {
				opacity: 1;
			}
			@media #{$media-medium} {
				width: 30.8%;
			}
			@media #{$media-large} {
				width: 17.5%;
			}
			@media #{$media-xl} {
				width: 14.1%;
			}
		}
		.photo-frame {
			background: #fff;
			box-sizing: border-box;
			cursor: pointer;
			display: inline-block;
			outline: solid 1px $soft-color;
			max-width: 170px;
			padding: 10px;
			transition: all 0.2s;
			&:hover {
				transform: scale(1.1);
			}
			img {
				height: auto;
				width: 100%;
				@include rounded(4px);
			}
		}
	}
}
.lightbox-bg {
	background: rgba(0,0,0, 0.8);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.5s;
	&.show {
		opacity: 1;
	}
	.fake-table {
		display: table;
		height: 100%;
		max-width: 100%;
		width: 100%;
	}
	.fake-row {
		display: table-row;
	}
	.fake-cell {
		display: table-cell;
		height: 100%;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
	}
	.photo-frame {
		box-sizing: border-box;
		border: solid 10px #fff;
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
		opacity: 0;
		overflow: hidden;
		position: relative;
		transition: all 0.5s;
		&.show {
			opacity: 1;
		}
		h2 {
			background: rgba(255,255,255, 0.6);
			bottom: 0;
			color: #000;
			font-size: 14px;
			left: 0;
			margin: 0;
			max-height: 25%;
			overflow: hidden;
			padding: 5px;
			position: absolute;
			right: 0;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
			@media #{$media-medium} {
				font-size: 16px;
				padding: 5px 10px;
				white-space: normal;
			}
		}
	}
	.featured-photo {
		height: auto;
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}
	.close-button,
	.back-button,
	.forward-button {
		background-color: rgba(0,0,0, 0.4);
		background-image: url(../img/button-sprite.png);
		background-repeat: no-repeat;
		background-size: 132px 44px;
		cursor: pointer;
		height: 44px;
		opacity: 0.7;
		position: fixed;
		transition: all 0.2s;
		width: 44px;
		z-index: 100;
		@include rounded(4px);
		&:hover {
			opacity: 1;
		}
	}
	.close-button {
		top: 10px;
		right: 10px;
		@media #{$media-large} {
			top: 20px;
			right: 20px;
		}
	}
	.back-button {
		background-position: -44px center;				
		left: 10px;
		margin-top: -22px;
		top: 50%;
		@media #{$media-large} {
			left: 10%;
		}
	}
	.forward-button {
		background-position: -88px center;		
		margin-top: -22px;
		right: 10px;
		top: 50%;
		@media #{$media-large} {
			right: 10%;
		}
	}
}
